@{
    ViewData["Title"] = "Home";
}

<!-- Hero Carousel -->
<div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banners/banner1.jpg" class="d-block w-100" alt="Banner 1">
        </div>
        <div class="carousel-item">
            <img src="~/images/banners/banner2.jpg" class="d-block w-100" alt="Banner 2">
        </div>
        <div class="carousel-item">
            <img src="~/images/banners/banner3.jpg" class="d-block w-100" alt="Banner 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<!-- Categories Section -->
<div class="text-center mb-4">
    <h2>Categories</h2>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <img src="~/images/products/footwear.jpg" class="img-fluid mb-2" alt="Footwear" />
        <h5>Footwear</h5>
    </div>
    <div class="col-md-4">
        <img src="~/images/products/apparel.jpg" class="img-fluid mb-2" alt="Apparel" />
        <h5>Apparel</h5>
    </div>
    <div class="col-md-4">
        <img src="~/images/products/accessories.jpg" class="img-fluid mb-2" alt="Accessories" />
        <h5>Accessories</h5>
    </div>
</div>

<!-- Featured Products -->
<div class="text-center my-4">
    <h2>Kids Collection</h2>
</div>
<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="~/images/products/product1.jpg" class="card-img-top" alt="Product 1">
            <div class="card-body text-center">
                <h5 class="card-title">Product 1</h5>
                <p class="card-text text-danger">59.99 BGN</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="~/images/products/product2.jpg" class="card-img-top" alt="Product 2">
            <div class="card-body text-center">
                <h5 class="card-title">Product 2</h5>
                <p class="card-text text-danger">99.99 BGN</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="~/images/products/product3.jpg" class="card-img-top" alt="Product 3">
            <div class="card-body text-center">
                <h5 class="card-title">Product 3</h5>
                <p class="card-text text-danger">89.99 BGN</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="~/images/products/product4.jpg" class="card-img-top" alt="Product 4">
            <div class="card-body text-center">
                <h5 class="card-title">Product 4</h5>
                <p class="card-text text-danger">21.99 BGN</p>
            </div>
        </div>
    </div>
</div>

<!-- Nike Promotional Banner -->
<div class="my-5 text-center">
    <img src="~/images/products/nike-banner.jpg" class="img-fluid" alt="Nike Banner">
</div>
